* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Stolzl Light';
    src: url(./fonts/StolzlLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl Bold';
    src: url(./fonts/StolzlBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl Book';
    src: url(./fonts/StolzlBook.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}



:root {
    --violet: #260063;
    --blue-light: rgba(68,174,255);
    --blue-dark: rgb(75,38,239);
    --grey: #787878;
    --grey-light: #F3F5F6;
    --grey-dark: #1D0F1C;

    --font-book: 'Stolzl Book', Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Stolzl Light', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

input,
select,
textarea {
    font-family: inherit;
}
input,textarea:focus{
    outline: none;
}
textarea {
    border-radius: 25px;
    resize: none;
}

img {
    max-width: 100%;
}

*[data-paroller-factor] {
    position: absolute;
}
button:focus{
    outline: none;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    width: 250px;
    height: 65px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    font-family: var(--font-book);
    font-size: 16px;
    color: var(--violet);
    transition: all .25s;
}

.btn:hover,
.btn:focus {
    outline: none;
    box-shadow: 0 3px 15px rgba(255,255,255, .35);
}

.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.form__input {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid rgba(255,255,255, .5);
    border-radius: 35px;
    background-color: rgba(255,255,255, .35);
    color: #fff;
}

.form__input:hover,
.form__input:focus {
    box-shadow: 0px 0px 15px rgba(255,255,255, .8);
}

.form__pp {
    position: relative;
    display: block;
    padding-top: 1px;
    min-height: 24px;
    margin-top: 20px;
    padding-left: 30px;
}

.form__pp::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    border: 1px solid rgba(255,255,255, .8);
    border-radius: 50%;
    background-color: rgba(255,255,255, .5);
}

.form__pp-text {
    font-size: 12px;
    color: #fff;
}

.form__pp-link {
    color: inherit;
}

.form__pp-link:hover {
    text-decoration: none;
}

.form__pp-checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form__pp-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(calc(50% + .5px), calc(50% + .5px));
}

.form__pp-checkbox:checked + .form__pp-text::before {
    background-color: var(--blue-dark);
}

.form__input::-webkit-input-placeholder {
    color: #fff;
}

.form__input:-ms-input-placeholder {
    color: #fff;
}

.form__input::-ms-input-placeholder {
    color: #fff;
}

.form__input::placeholder {
    color: #fff;
}

.section-title {
    font-family: var(--font-book);
    font-size: 42px;
}



/* ! header */

.header {
    min-height: 800px;
    padding-top: 55px;
    background: url(./images/header-bg.png) no-repeat center top;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
}

.header-nav-list {
    display: flex;
    list-style: none;
}

.header-nav-list__link {
    margin: 0 17px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.header-nav-list__link:hover {
    color: var(--blue-light);
}

.header-phone {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.social-links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.social-links__item-logo {
    width: 30px;
    max-height: 15px;
    fill: #fff;
}

.social-links__item:hover .social-links__item-logo {
    fill: var(--blue-light);
}

.header-social-links {
    justify-content: center;
}

.header-social-links .social-links__item {
    margin: 5px 0;
}


.header-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 220px;
}

.header-bottom-info__title,
.header-bottom-info__subtitle {
    display: block;
    font-family: var(--font-book);
}

.header-bottom-info__title {
    margin-bottom: 15px;
    font-size: 30px;
    color: #fff;
}

.header-bottom-info__subtitle {
    margin-bottom: 30px;
    font-size: 25px;
    color: #9CACF0;
}

.header-bottom-info__btn {
    width: 270px;
    font-size: 18px;
}

.header-bottom-info__btn:hover,
.header-bottom-info__btn:focus {
    background: linear-gradient(to right, #4929f0, #4ecaeb);
    border: none;
    color: #fff;    
}

/* header ! */


/* ! services */

.services {
    padding: 95px 0;
    background: url(./images/services-bg.png) right top;
    background-color: var(--grey-light);
    background-repeat: no-repeat;
    background-position: calc(50% + 399.5px) 0;
}

.services__title {
    margin-bottom: 78px;
    text-align: center;
}

.services__title-text {
    display: inline-block;
    padding: 55px 80px;
    padding-bottom: 5px;
    background: url(./images/services-blot-1.png) left top,
                    url(./images/services-blot-2.png) right top;
    background-repeat: no-repeat;
}

.services-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-list__item-title {
    position: relative;
    z-index: 2;
}

.services-list__item:hover .services-list__item-title {
    color: #fff;
}



.services-sub {
    position: relative;
    z-index: 2;
    list-style: none;
}

.services-list__item {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 370px;
    margin: 15px;
    padding: 22px;
    border-radius: 12px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right top;
    transition: all .25s;
}

.services-list__item:hover {
    box-shadow: 0 5px 15px rgba(74,10,240, .35);
}

.services-list__item::before,
.services-list__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.services-list__item::before {
    z-index: 1;
    background-position: right top;
}

.services-list__item:nth-child(1), 
.services-list__item:nth-child(4) {
    margin-left: 0px;
}

.services-list__item:nth-child(3),
 .services-list__item:nth-child(6) {
    margin-right: 0px;
}

.services-list__item:nth-child(1)::before {
    background-image: url(./images/services-1.png);
}

.services-list__item:nth-child(2)::before {
    background-image: url(./images/services-2.png);
}

.services-list__item:nth-child(3)::before {
    background-image: url(./images/services-3.png);
}

.services-list__item:nth-child(4)::before {
    background-image: url(./images/services-4.png);
}

.services-list__item:nth-child(5)::before {
    background-image: url(./images/services-5.png);
}

.services-list__item:nth-child(6)::before {
    background-image: url(./images/services-6.png);
}

.services-list__item::after {
    opacity: 0;
    z-index: 0;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    transition: all .25s;
}

.services-list__item:hover::after {
    opacity: 1;
}





.services-list__item-title {
    margin-bottom: 15px;
    font-size: 20px;
}

.services-sub__item-link {
    position: relative;
    display: block;
    margin: 5px 0;
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
    color: var(---grey);
}

.services-list__item:hover .services-sub__item-link {
    color: #fff;    
}

.services-sub__item-link::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 20px;
    height: 2px;
    background: var(--grey);
    transition: all .25s;
    transform-origin: center center;
}

.services-list__item:hover .services-sub__item-link::before {
    background: #fff;
}

.services-sub__item-link:hover::before {
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    transform: rotate(-45deg);
}

.services-sub__item-link:hover {
    color: var(--blue-dark);
}

.services-list__item-link {
    position: absolute;
    z-index: 2;
    bottom: 22px;
    right: 22px;
    font-size: 18px;
    color: var(--grey-dark);
}

.services-list__item:hover .services-list__item-link {
    color: #fff;
}


/* services ! */



/* ! projects */

.projects {
    position: relative;
    padding-top: 95px;
}

.projects__paroller-1 {
    left: 0;
    top: -50px;
}

.projects__paroller-2 {
    right: 0;
    top: -100px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects__title {
    position: relative;
    margin-bottom: 50px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}

.switch{
    width: 38px;
    height: 38px;
    border: 0px;
    border-radius: 20px;
    background: #f3f3f3;
    color: #8e8e8e;
}

.switch:focus{
    background: #4c5cee;
    box-shadow:0px 15px 7px 0px rgba(70, 73, 245, 0.49);
    outline: none;
    color: #ffffff;
}

.projects-list__item-img{
    height: 100%;
}

.projects-list__item {
    position: relative;
    overflow: hidden;
    width: 50%;
    /* padding-top: 18%;
    padding-bottom: 18%; */
    /* border: 1px solid red; */
}

.projects-list__item-info {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(74,10,240, .85), rgba(78,229,234, .85));
    transition: all .35s;
    opacity: 0;
}

.projects-list__item:hover .projects-list__item-info {
    visibility: visible;
    opacity: 1;
}

.projects-list__item-logo {
    margin-bottom: 80px;
}

.projects-list__item-more {
    text-decoration: underline;
    font-size: 18px;
    color: #fff;
}


/* projects ! */


/* ! free-audit */

.free-audit {
    position: relative;
    padding-top: 110px;
    padding-bottom: 75px;
    background: url(./images/square-dots--white.png) calc(100% + 100px) 25px,
                linear-gradient(to right, var(--blue-dark), var(--blue-light));
    background-repeat: no-repeat;
}


.free-audit__paroller-1 {
    top: 100px;
    left: 10%;
}

.free-audit__paroller-2 {
    bottom: 200px;
    left: 5%;
}

.free-audit__paroller-3 {
    bottom: 250px;
    left: 40%;
}


.free-audit__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.free-audit__info {
    width: 500px;
    max-width: 100%;
    color: #fff;
}

.free-audit__title {
    margin-bottom: 24px;
    font-size: var(--font-book);
    font-size: 30px;
}

.free-audit__text {
    margin-bottom: 20px;
    font-size: 18px;
}

.free-audit__form {
    width: 470px;
    max-width: 100%;
}

.free-audit__form .form__input {
    display: block;
    width: 100%;
    margin-bottom: 22px;
}

.free-audit__textarea {
    height: 160px;
    margin-top: 32px;
}

.free-audit__btn {
    width: 100%;
}

.free-audit__btn:hover,
.free-audit__btn:focus{
    background: linear-gradient(to right, #4929f0, #4ecaeb);
    border: none;
    color: #fff
}


/* free-audit ! */



/* ! budget-list */

.budget {
    padding: 95px 0;
    background: url(./images/budget-bg.png) left top,
                    url(./images/budget-bg-blot.png) right 45px;
    background-repeat: no-repeat;
}

.budget__title {
    margin-bottom: 100px;
}

.budget-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: budget-list;
}

.budget-list__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 340px;
    border-radius: 12px;
    background-color: var(--grey-light);
    background-repeat: no-repeat;
    background-position: center 0;
}

.budget-list__item::before {
    content: counter(budget-list);
    counter-increment: budget-list;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: var(--font-book);
    font-size: 150px;
    color: var(--grey-light);
    transform: translateY(-55%);

}

.budget-list__item:nth-child(1) {
    background-image: url(./images/budget-1.png);
}

.budget-list__item:nth-child(2) {
    background-image: url(./images/budget-2.png);
}

.budget-list__item:nth-child(3) {
    background-image: url(./images/budget-3.png);
}

.budget-list__item-icon {
    margin-bottom: 35px;
}

.budget-list__item-text {
    text-align: center;
    font-family: var(--font-book);
    font-size: 18px;
}


/* budget ! */


/* ! prototype */

.prototype {
    position: relative;
    padding-top: 160px;
    padding-bottom: 120px;
    background:  url(./images/square-dots--white.png) calc(100% + 100px) calc(100% + 100px),
                linear-gradient(to right, var(--blue-dark),  var(--blue-light));
    background-repeat: no-repeat;
}

.prototype__paroller-3 {
    bottom: 200px;
    left: 5%;
}

.prototype__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prototype__info {
    width: 420px;
    max-width: 100%;
    color: #fff;
}

.prototype__text {
    font-size: 25px;
}

.prototype__form {
    width: 470px;
    max-width: 100%;
}

.prototype__input {
    margin-bottom: 22px;
}

.prototype__btn {
    width: 100%;
}

.prototype__btn:hover,
.prototype__btn:focus {
    background: linear-gradient(to right, #4929f0, #4ecaeb);
    border: none;
    color: #fff;
}

/* prototype ! */


/* ! how-we-works */

.how-we-works {
    position: relative;
    min-height: 1000px;
    padding-top: 100px;
    padding-bottom: 250px;
    background: url(./images/how-we-work-blot.png) 35px 166px,
                url(./images/waterfall-bg.png) calc(75% - 600px) 25px,
                url(./images/agile-bg.png) calc(25% + 600px) 0,
                url(./images/square-dots--blue.png) calc(100% + 50px) 66%;
    background-repeat: no-repeat;
    color: #464646;
}

.how-we-works__paroller-3 {
    left: 0;
    bottom: 15%;
}


.how-we-works__title {
    margin-bottom: 22px;
}

.how-we-works__content {
    display: flex;
    justify-content: space-between;
}

.waterfall {
    width: 570px;
    max-width: 100%;
    padding-top: 485px;
    background: url(./images/waterfall.png) no-repeat calc(100% - 55px) 80px;
}

.waterfall__title,
.agile__title {
    margin-bottom: 20px;
    font-family: var(--font-book);
    font-size: 22px;
}

.waterfall__text,
.agile__text {
    max-width: 100%;
    text-align: justify;
}

.waterfall__text {
    width: 370px;
}

.agile__text {
    width: 470px;
}

.agile__img {
    margin-bottom: 108px;
}

.waterfall-bloks {
    margin-top: 115px;
    margin-left: 145px;
}


.waterfall-bloks__item {
    color: #fff;
}

.rotated-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin-bottom: -172.5px;
    text-align: center;
}

.rotated-block:nth-child(odd) {
    margin-bottom: 0;
    transform: translate(50%);
}

.rotated-block:nth-child(even) {
    transform: translate(-35%, -35%);
}

.rotated-block::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    transform: rotate(45deg);
}

.waterfall-bloks__item::before {
    background: linear-gradient(45deg, var(--blue-dark), var(--blue-light));
}

.agile-bloks__item::before {
    background-color: var(--grey-light);
}

.rotated-block::after {
    content: "";
    position: absolute;
    z-index: -2;
    top: 75%;
    width: 37px;
    height: 37px;
    background: var(--blue-dark);
}

.rotated-block:nth-child(odd)::after {
    left: 0;
    transform: translate(100%, 50%);
}

.rotated-block:nth-child(even)::after {
    right: 0;
    transform: translate(-100%, 50%);
}

.rotated-block:last-child::after {
    display: none;
}

.rotated-blocks {
    counter-reset: rotated-blocks;
}

.rotated-block__text::before {
    content: counter(rotated-blocks);
    counter-increment: rotated-blocks;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: var(--font-book);
    font-size: 100px;
}

.agile-bloks__item .rotated-block__text::before {
    color: rgba(206, 208, 209);
}



/* how-we-works ! */


/* ! efficiency */

.efficiency {
    position: relative;
    min-height: 795px;
    padding-top: 100px;
    padding-bottom: 80px;
    background: url(./images/efficiency-img.png) right calc(100% - 80px),
                url(./images/efficiency-bg.png) right bottom;
    background-color: var(--grey-light);
    background-repeat: no-repeat;
}

.efficiency__paroller-1 {
    left: 5%;
    top: 25%;
}

.efficiency__paroller-2 {
    left: -15px;
    top: 60%;
}

.efficiency__paroller-3 {
    left: 15%;
    top: 80%;
}





.efficiency__title {
    margin-bottom: 20px;
}

.efficiency__content {
    position: relative;
    width: 770px;
    max-width: 100%;
}

.efficiency__text {
    text-align: justify;
}

.efficiency__subtitle {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: var(--font-book);
    font-size: 26px;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.questions__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 170px;
    height: 130px;
    padding: 15px;
    border-radius: 10px; 
    background: #fff url(./images/ok.png) no-repeat calc(100% - 15px) 15px;
    font-family: var(--font-book);
    font-size: 12px;
}


/* efficiency ! */


/* ! about-project */

.about-project {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 80px;
    background: /* url(./images/project-bg.png) 90% 35px, */
                linear-gradient(to right, var(--blue-dark),  var(--blue-light));
    background-repeat: no-repeat;
    color: #fff;
}

.about-project__paroller-1 {
    left: 10%;
    top: 5%;
}

.about-project__paroller-2 {
    right: 10%;
    top: 5%;
}

.about-project__title {
    margin-bottom: 42px;
}

.about-project__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-project__input {
    width: 370px;
    margin-bottom: 32px;
}

.about-project__textarea {
    height: 165px;
    margin-bottom: 32px;
} 

.about-project__form-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.about-project__choose-file {
    padding-left: 25px;
    background: url(./images/file-icon.png) no-repeat left center;
    line-height: 23px;
}

.about-project__file-input {
    display: none;
    /* -moz-appearance: none;
    -webkit-appearance: none; */
}

.about-project__btn {
    margin-left: auto;
}

.about-project__btn:hover,
.about-project__btn:focus {
    background: linear-gradient(to right, #4929f0, #4ecaeb);
    border: none;
    color: #fff;
}

.about-project .form__pp {
    margin-top: 0;
    margin-right: 40px;
}

/* about-project ! */



/* ! footer */

.footer {
    padding-top: 58px;
    background-color: #2A1A87;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo {
    margin-right: 54px;
}

.footer-nav-list {
    list-style: none;
}

.footer-social-links {
    justify-content: center;
}

.social-links__item {
    margin: 8px 0;
}

.footer-social-links .social-links__item-logo {
    width: 35px;
    max-height: 20px;
}

.footer-nav-list__item-link {
    display: block;
    margin-bottom: 8px;
    padding: 5px 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #7057FF;
}

.footer-nav-list__item-link:hover {
    color: #fff;
}

.footer-phone,
.footer-email {
    display: block;
    text-decoration: none;
    font-size: 28px;
    color: #fff;
}

.footer-phone {
    margin-bottom: 20px;
}

.footer-address {
    list-style: none;
}

.footer-address__item {
    margin-bottom: 21px;
    text-transform: uppercase;
    font-family: var(--fotn-book);
    font-size: 12px;
    color: #fff;
}

.footer-more-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-more-info__subscribers {
    display: flex;
    margin-bottom: 15px;
    background:  no-repeat right center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
    color: var(--blue-light);
    line-height: 13px;
}

.footer-more-info__subscribers:hover {
    text-decoration: none;
}

.footer-more-info__subscribers::after {
    content: url(./images/footer-arrow.png);
}

.footer-more-info__presentation-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}


.footer-copyright {
    margin-top: 35px;
    text-align: right;
    font-size: 12px;
    color: #7057ff;
}

.footer-copyright__link {
    color: inherit;
}



/* footer ! */





@media (max-width: 1200px) {

}

@media (max-width: 1000px) {

    .free-audit__content {
        flex-direction: column;
        align-items: center;
    }

    .free-audit__info {
        width: 470px;
        max-width: 100%;
        margin-bottom: 25px;
    }
    

    .prototype__content {
        flex-direction: column;
        align-items: center;
    }

    .prototype__info {
        width: 470px;
        max-width: 100%;
        margin-bottom: 25px;
    }

}

@media (max-width: 768px) {

}



  


/* BTANDING */

/* header */

.header-land-services {
    min-height: 149px;
    background: url(./images/header-bg.png) no-repeat center top;
    display: flex;
}

.header-land-about-one-services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
    flex: 1;
    align-items: center;
}

/* header!! */

/* service-about */

.service-about {
    background: url(images/branding-services.png) no-repeat;
}

.container-service-about {
    display: flex;
    flex-direction: column;
    padding: 114px 15px 90px 15px;
}

.design_choice {
    align-self: center;
    margin-bottom: 74px;
    font-family: 'Stolzl Book';
    font-size: 30px;
}

.wrapper {
    height: 420px;
    display: flex
}

.wrapper-right {
    flex: 1;
}

.service {
    width: 230px;
    padding: 27px 0 22px 0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 10px 74.1px 20.9px rgba(58, 112, 255, 0.22);
}

.wrapper-services {
    display: flex;
    flex-direction: column;
}

.services-name {
    width: 100%;
    height: 100%;
    padding: 27px 23px 20px 23px;
    text-decoration: none;
    color: black;
    display: block;
    font-family:'Stolzl Book';
    font-size: 23px;
    line-height: 22px;
}

.service-slogan {
    display: block;
    margin: 9px 22px;
    font-size: 12px;
    color: rgba(120, 120, 120, 255);
}

.service-smal-img {
    margin: auto;
}

.btn-more-service {
    align-self: flex-start;
    margin-top: auto;
    margin-left: 22px;
    border: none;
    background: transparent;
    text-decoration: underline;
}

.btn-more-service-advertising {
    color: #fff;
}

.services-lists {
    display: flex;
    list-style: none;
    
}

.services-items {
    overflow: hidden;
    height: 90px;
    flex: 1;
    margin: 0 5.5px;
    border-radius: 15px;
    background: #fff;
}

.services-items:first-child {
    margin-left: 11px;
}

.services-items:last-child {
    margin-right: 0;
}

.services-items-title {
    margin-left: 23px;
    font-family: 'Stolzl Book';
    font-size: 23px;
}

.services-advertising-items-title {
    color: #fff;
}

.sml-info-service {
    position: relative;
    display: flex;
 
}

.sml-info-service-title {
    font-family: 'Stolzl Book';
    font-size: 40px;
}

.sml-info-service-advertising-title {
    line-height: 51px;
}

.sml-info-service-pack-title {
    font-size: 35px;
}

.sml-info-service-pack-we-top {
    line-height: 23px;
}

.sml-info-service-slogan {
    margin: 22px 0 11px 0;
    font-size: 28px;
    color: rgba(120, 120, 120, 255);
}

.sml-info-service-we-top {
    margin-bottom: 27px;
    padding: 9px 0 8px 21px;
    border-left: 3px solid #5867f5;
    font-size: 18px;
    color: rgba(120, 120, 120, 255);
}

.sml-info-service-logo-we-top {
    width: 354px;
    line-height: 25px;
}

.sml-info-service-advertising-we-top {
    margin: 22px 0 37px 0;
    line-height: 29px;
}

.sml-info-service-text {
    width: 466px;
    padding: 31px 0 0 27px;
}

.wrapper-sml-info-service {
    display: flex;
    flex-direction: column;
}

.cost {
    width: 320px;
    margin-top: auto;
    border-radius: 30px;
    border: 0px;
    background: linear-gradient(to right, #4929f0, #4ecaeb);
    min-height: 65px;
    font-family: 'Stolzl Book';
    font-size: 17px;
    color: #fff;
}

.cost:hover,
.cost:focus {
    box-shadow: 0 3px 15px rgb(74, 67, 239);
}

.service-big-img {
    align-self: center;
    margin: 0 auto;
}

.service-advertising-big-img {
    margin: 55px 0;
}

.service-logo-big-img {
    align-self: center;
    /* margin: 0 auto; */
}

.service-pack-big-img {
    position: absolute;
    top: 10%;
    left: 37%;
}

/* service-about!! */

/* big-info-service */

.big-info-service{
    display: flex;
    justify-content: center; 
}

.container-big-info-service{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 105px 15px 96px 15px;
}

.services-this{
    margin-right:15px;
    flex: 1.5;
}

.service-this-text{
    display: block;
    font-family: 'Stolzl Book';
    font-size: 30px;
}

.service-this-definition{
    display: block;
    margin: 23px 0 45px 0;
    font-family: 'Stolzl Light';
    font-size: 21px;
    line-height: 35px;
}

.show-cases{
    height: 65px;
    width: 320px;
    margin-bottom: 96px;
    border-radius: 30px;
    border:1px solid black;
    background:#ffffff;
}

.show-cases:hover,
.show-cases:focus {
    background: linear-gradient(to right, #4929f0, #4ecaeb);
    border: none;
    box-shadow: 0 3px 15px rgb(74, 67, 239);
    color: #fff;
}

.show-cases:focus{
    outline: none;

}

.info-service-img{
    margin: 0 15px;
    flex:2;
}

.service-why{
    margin: 0 15px;
    flex:1;
}

.service-why-text{
    font-family: 'Stolzl Book';
    font-size: 18px;
}

.service-why-list{
    position: relative;
    z-index: 2;
    list-style: none;
}

.service-why-items-text{
    position: relative;
    display: block;
    margin: 5px 0;
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
    color: var(---grey);
}

.service-why-items-text::before{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 20px;
    height: 2px;
    background: var(--grey);
    transition: all .25s;
    transform-origin: center center;
}

.service-why-items-text:hover {
    color: var(--blue-dark);
}

.service-why-items-text:hover::before {
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    transform: rotate(-45deg);
}
/* big-info-service! */

/* how-affect */

.how-affect {
    position: relative;
    background: #f3f5f6;
    display: flex;
    align-items: center;
}

.container-how-affect{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 102px 15px 120px 15px;
}

.how-affect-text {
    font-family: 'Stolzl Book';
    font-size: 35px;
    

}

.wrapper-affect {
    display: flex;
}

.bad-affect{
    flex: 1;
    background: #fafafb;
    border-radius: 20px;
    padding-left: 42px;
    padding: 35px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 364px;
    margin-top: 50px;
    margin: 50px 15px 0 0;
}

.bad-affect-text {
    font-family: 'Stolzl Book';
    color: rgba(120, 120, 120, 255);
}

.bad-affect-list {
    list-style: none;;
}

.bad-affect-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 310px;
    margin: 20px 0;
    

}

.bad-affect-item p {
    font-size: 12px;
    color: rgba(120, 120, 120, 255);
    margin-right: 50px;
}

.good-affect{
    flex:1;
    background: #ffffff;
    border-radius: 20px;
    padding-left: 42px;
    padding: 35px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 364px;
    margin: 50px 0 0 15px;
    
}

.good-affect-list {
    list-style: none;;
}

.good-affect-text{
    font-family: 'Stolzl Book';
}

.good-affect-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 310px;
    margin: 20px 0;
    
}

.good-affect-item p {
    font-size: 12px;
    color: rgba(120, 120, 120, 255);
    margin-right: 50px;
}

/* how-affect! */

/* dev-stage */

.dev-stage{
    position: relative;
    height: 478px;
    background: url(images/dev-stage-fon.png);
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.container-dev-stage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.dev-stage-title {
    display: block;
    font-family: 'Stolzl Book';
    font-size: 30px;
}

.dev-stage-sub-title {
    display: block;
    margin-top: 14px;
    font-size: 24px;
    color: rgba(120, 120, 120, 255);
}

.dev-stage-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 130px
}

.dev-stage-items {
    flex:1;
    border-radius:20px;
    background:#f3f5f6 url(images/left-dev-stage.png) no-repeat;
    background-position-x: -15px;
    background-position-y: -15px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 25px;
    position: relative;
}

.dev-stage-items:first-child {
    margin: 0 15px 0 0;
}

.dev-stage-items:last-child {
    margin: 0 0 0 15px;
}

.dev-stage-items::after{
    content: ' ';
    position: absolute;
    left: 100%;
    width: 31px;
    height: 5px;
    background: #f3f5f6;
}
.dev-stage-items:last-child:after{
    content: none;
}


.number-dev-stage {
    font-family: 'Stolzl Book';
    font-size: 33px;
}

.dev-stage-text {
    font-family: 'Stolzl Book';
    font-size: 11px; 
}

.decor{
    position: absolute;
    top: -15px;
    left: -15px;
}
/* dev-stage! */

/* complex-analysis */
.complex-analysis {
    height: 469px;
    background: #f3f5f6;
}

.container-complex-analysis { 
    display: flex;
    height: 100%;
}

.wrapper-analysis-title {
 flex: 2.3;
 display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.analysis-title {
display: block;
font-family: 'Stolzl Book';
font-size: 41px;
margin-bottom: 11px;
}

.analysis-sub-title {
    display: block;
    font-family: 'Stolzl Light';
    font-size: 23px;
    color: rgba(120, 120, 120, 255);
    margin: 11px 0 20px 0;
}

.analysis-text {
    display: block;
    font-family: 'Stolzl Light';
    color: rgba(120, 120, 120, 255);
    margin-top: 20px;
    line-height: 25px;
}

.analysis-list {
    flex: 1.5;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.analysis-item-check {
    margin: 0 15px;
}

.analysis-item{ 
    background: #fff url(images/check.png) no-repeat;
    background-position-y: center;
background-position-x: 15px;   
    height: 65px;
    border-radius: 20px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    padding-left: 66px;
}

.analysis-item-right {
    margin: 5px 0 5px 15px;
}

/* .analysis-item:first-child {
    margin: 5px 15px 5px 0;
}

.analysis-item:last-child {
    margin: 5px 0 5px 15px;
} */

.analysis-item-text {
    display: inline-block;
    font-family: 'Stolzl Book';
    color: rgba(29, 15, 28, 255);
    font-size: 14px;
}


/* complex-analysis! */

/* components-branding */

.components-branding {
    background: url(images/comp-branding-fon.png) no-repeat;
    padding: 85px 0 125px 0;

}

.container-comp-branding{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.comp-branding-title {
    display: block;
    width: 344px;
    text-align: right;
    font-family: 'Stolzl Book';
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
}

.comp-branding-sub-title { 
    display: block;
    width: 415px;
    margin: 17px 0 75px 0;
    text-align: right;
    font-family: 'Stolzl Light';
    font-size: 15px;
    color: rgba(204, 204, 204, 255);
}

.comp-branding-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    
}

.comp-branding-items {
    margin: 13px 0;
    background: url(images/dash.png) no-repeat;
    background-position: 100%;
    position: relative;
}

/* .comp-branding-items::after{
    content: '';
    width: 
} */

.comp-branding-items-text {
    margin-right: 51px;
    font-family: 'Stolzl Light';
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
}
/* components-branding! */

/* brand-dev */

.brand-dev {
    background: url(images/brand-dev-fon.png) no-repeat;
    background-position: 100% 12%;
}

.container-brand-dev {
    display: flex;
    flex-direction: column; 
    padding: 169px 0 91px 0;
    align-items: end;
    

}

.brand-dev-title {
    font-family: 'Stolzl Book';
    font-size: 30px;
    color: rgba(29, 15, 28, 255);
}

.brand-dev-sub-title {
    display: block;
    width: 470px;
    margin: 25px 0 84px 0;
    line-height: 26px;
    font-family: 'Stolzl Light';
    color: rgba(120, 120, 120, 255);
    
}

.aspins {
    border: none;
    background: #fff;
    font-family: 'Stolzl Light';
    color: rgba(255, 176, 0, 255);
    font-size: 24px;
    text-decoration: underline;

}
/* brand-dev! */

/* show-client */

.show-client {
    background: #f3f5f6;
}

.container-show-client {
    display: flex;
    flex-direction: column;
    padding: 100px 15px;
}

.wrapper-show-client-item {
    display: flex;
}

.show-client-item {
    margin: 0 15px 0 15px;
    border-radius: 10px;
    background: #fff;
}

.show-client-item:first-child {
    margin: 0 15px 0 0;
}

.show-client-item:last-child {
    margin: 0 0 0 15px;
}

.wrapper-show-client-content {
    margin: 25px;
}

.show-client-title {
    display: block;
    margin-bottom: 50px;
    font-family: 'Stolzl Book';
    font-size: 30px;
}

.show-client-item-title {
    display: block;
    font-family: 'Stolzl Book'; 
}

.show-client-item-sub-title {
    display: block;
    margin: 12px 0;
    font-family: 'Stolzl Light'; 
    font-size: 14px;
    color: rgba(120, 120, 120, 255);
    line-height: 20px;
}

.show-clietn-list {
    list-style: none;
}

.show-client-sub-items {
    position: relative;
    margin: 12px 0;
    font-family: 'Stolzl Light'; 
    font-size: 14px;
}

.show-client-sub-items p {
    padding: 0 25px;
}

.show-client-sub-items p::before{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 21px;
    height: 1px;
    background: var(--grey);
}

/* show-client! */

/* price */
.price {
    position: relative;
    background: url(images/price-fon.png) no-repeat;
}

.container-price {
    padding:86px 15px 0 15px;
}

.praci-title {
    margin-top: 86px;
    font-family: 'Stolzl Book';
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
}

.price-sub-title {
    display: block;
    max-width: 442px;
    margin: 12px 0 39px 0;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
}

.choice-price-title {
    display: block;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
}

.name-service {
    display: block;
    margin: 54px 0 17px 0;
    font-family: 'Stolzl Book';
    font-size: 20px;
    color: rgba(255, 255, 255, 255);

}

.check {
    display: none;
}

.wrapper-form-input {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-form-input input {
    margin: 32px 22px 0px 0;
}


.price-design {
    display: flex;
}

.check-service {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 0px 30px;
    margin-right: 12px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-family:'Stolzl Book';
    color: #fff;
    font-size: 20px;
   }

input[type="checkbox"]:checked + label {
    background: #fff;
    color: #260063;
}

.contact-title {
    margin: 78px 0 10px 0;
    font-family: 'Stolzl Book';
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
}

.form-input {
    width: 368px;
    height: 52px;
    padding: 32px;
    border-radius: 30px;
    border: none;
    background: #6869f4;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
}

.form-input:hover,
.form-input:focus {
    box-shadow: 0px 0px 15px rgba(255,255,255, .8);
}

.form-input::placeholder{
    color: #fff;
}

.feadback-comment {
    width: 100%;
    height: 123px;
    margin-top: 32px;
    padding: 30px;
    font-size: 16px;
}



.add-file {
    display: block;
    padding-left: 25px;
    margin: 19px 0 14px 0;
    background: url(./images/file-icon.png) no-repeat left center;
    line-height: 23px;
    font-family: 'Stolzl-Book';
    font-size: 14px;
    color: #fff;
}

.add-file input{
    display: none;
}

.send-file {
    width: 470px;
    height: 65px;
    margin-bottom: 93px;
    border: none;
    border-radius: 30px;
    background: #fff;
    text-align: center;
    color: rgba(38, 0, 99, 255);
    font-family: 'Stolzl Book';
    font-size: 16px;
}

.send-file:hover,
.send-file:focus {
    background: linear-gradient(to right, #4929f0, #4ecaeb);
    box-shadow: 0 3px 15px rgba(255,255,255, .35);
}

/* parroler */

.header__paroller-1 {
    top: 50px;
    left: 65%;
}

.header__paroller-2 {
    top: 25%;
    left: 3%;
}

.service-about__paroller-1 {
    top: 85%;
    left: 89.8%;
}

.big-info__paroller-1 {
    z-index: 99999;
    top: 90%;
    left: 0px;
}

.dev-stage__paroller-1 {
    top: 65%;
    left: 89.2%;
}

.dev-stage__paroller-2 {
    top: 65%;
    left: 89%;
}

.price__paroller-1 {
    top: 60%;
    left: 10%;
}

.price__paroller-2 {
    top: 83%;
    left: 5%;
}

.price__paroller-3 {
    top: 82%;
    left: 81%;
}

.how-affect__paroller-1 {
    top: 82%;
    left: 2%;
}

.dev-site__paroller-1 {
    top: -17%;
    left: 4%;
}

.dev-site__paroller-2 {
    top: 57%;
    left: 86%;
}

.final-work-logo__paroller-1 {
    top: -30%;
}
/* parroler! */
/* price! */
/* BRANDING!! */


/* WEV-SITE */

/* small-info-service */

.small-info-service {
    background: #fafafa ;
}

.small-info-service-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-small-info-service {
    display: flex;
    justify-content: space-between;
    /* padding: 169px 15px 182px 15px; */
    
}

.smal-info0service-title {
    display: block;
    margin: 12px 0 ;
    font-family: 'Stolzl Book';
    font-size: 30px;
    color: rgba(29, 15, 28, 255);
}

.small-info-service-cub-title {
    display: block;
    margin: 12px 0 ;
    font-size: 24px;
    color: rgba(29, 15, 28, 255);
    line-height: 32px;
}

.small-info-service-text {
    display: block;
    margin: 12px 0 ;
    font-size: 16px;
    color: rgba(29, 15, 28, 255);
    line-height: 26px;
}

/* small-info-service! */


/* how-site */

.container-how-site {
    display: flex;
    flex-direction: column;
    padding: 100px 15px 82px 15px;
    
}

.how-site-title {
    margin-bottom: 51px;
    font-family: 'Stolzl Book';
    font-size: 30px;
}

.how-site-list {
    display: flex;
    flex-wrap: wrap;
}

.how-site-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 0 15px;
    padding: 25px;
    border-radius: 15px;
    background:linear-gradient(to right, #4b2cef, #4dc0eb);
}

.how-site-item:first-child{
    margin: 0 15px 0 0;
}
.how-site-item:last-child {
    margin: 0 0 0 15px;
}

.how-site-item-title {
    display: block;
    font-family: 'Stolzl Book';
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}

.how-site-item-sub-title {
    display: block;
    margin: 21px 0 74px 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    line-height: 26px;
}

.clock-work {
    position: relative;
    display: block;
    margin: 18px 0;
    padding: 0 35px;    
    font-family: 'Stolzl Book';
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
}

.clock-work::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 25px;
    background: url(images/clock-work-icon.png) no-repeat;
    left: 0px;
    top: -7px;

}

.price-site {
    position: relative;
    padding: 0 35px; 
    display: block;
    font-family: 'Stolzl Book';
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
}

.price-site::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 25px;
    background: url(images/dolar-icon.png) no-repeat;
    left: 0px;
    top: -7px;
}

.check-price-site {
    height: 65px;
    width: 320px;
    align-self: center;
    margin-top: 48px;
    border-radius: 30px;
    background: #fff;
    border: 1px solid black;
    font-family: 'Stolzl Book';
    font-size: 16px;

}

.check-price-site:hover {
    background: linear-gradient(to right, #4929f0, #4ecaeb);
    border: none;
    color: #fff
}

/* how-site! */

/*dev-stage-site */


.dev-stage-site {
    background: url(images/dev-stage-fon-2.png) no-repeat;
}
/* dev-stage-site! */

/* structure-design */

.container-structure-design {
    display: flex;
    padding: 65px 15px 49px 15px;
}

.wrapper-structure-design {
    align-self: center;
}

.structure-design-title {
    display: block;
    font-family: 'Stolzl Book';
    font-size: 30px;
}

.structure-design-sub-title {
    display: block;
    margin: 13px 0 37px 0;
    font-family: 'Stolzl Light';
    font-size: 18px;
    color: rgba(120, 120, 120, 255);
}

.structure-design-work-list {
    list-style: none;
}

.structure-design-work-item {
    position: relative;
    margin: 15px 0;
}

.structure-design-work-item::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 20px;
    height: 2px;
    background: #e0e0e0;
}

.structure-design-work-text {
    display: block;
    padding: 0 30px;
    font-family: 'Stolzl Light';
    font-size: 16px;
    color: rgba(120, 120, 120, 255);
}

/* structure-design! */

/* work-design-site */

.work-design-site {
    background: linear-gradient(to right, #7554b3, #bf76ae)
}

.container-work-design-site {
    display: flex;
}

.wrapper-work-design-site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 105px 15px 88px 15px;
}

.work-design-site-title {
     display: block;
     align-self: center;
     font-family: 'Stolzl Book';
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
}

.progect-factory {
    align-self: end;
    border: none;
    background:none;
    text-decoration: underline;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}
/* work-design-site! */

/* mob-adapt */

.mob-adapt {
    background: #f3f5f6;
}

.container-mob-adapt {
    display: flex;
    padding: 105px 15px 88px 15px;
}

.wrapper-mob-adart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mob-adapt-titel {
    font-family: 'Stolzl Book';
    font-size: 33px;
    line-height: 54px;
}

.mob-adapt-sub-title {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    line-height: 32px;
    color: rgba(120, 120, 120, 255);
}

/* mob-adapt! */

/* dev-site */

.dev-site {
    background: url(images/dev-site-fon.png) no-repeat;
    position: relative;
}

.container-dev-site {
    display: flex;
    padding: 107px 14px 37px 15px;
}

.wrapper-dev-site {
    padding-top: 53px;
    margin-right: 59px;
}

.dev-site-title {
    font-family: 'Stolzl Book';
    font-size: 34px;
    line-height: 54px;
}

.dev-site-sub-title {
    display: block;
    margin-top: 13px;
    font-size: 18px;
    color: rgba(120, 120, 120, 255);
    line-height: 24px;

}

/* dev-site! */

/* run-site */

.run-site {
    background: #f3f5f6;
}

.container-run-site {
    display: flex;
    padding: 110px 15px;
}

.wrapper-run-site {
    padding-left: 88px;
}

.run-site-title {
    font-family: 'Stolzl Book';
    font-size: 33px;
}

.run-site-sub-title {
    display: block;
    margin: 19px 0 30px 0;
    font-size: 23px;
    color: rgba(120, 120, 120, 255);
}

.good-site-list {
    list-style: none;
}

.good-site-item{
    position: relative;
}

.good-site-item::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 20px;
    height: 2px;
    background: #e0e0e0;
}

.good-site-text {
    padding: 0 30px;
    font-size: 16pt;
    color: rgba(120, 120, 120, 255);
}

/* run-site! */
/* WEB-SITE!! */


/* SERVICE-LOGO */


.service-logo-big-img {
    /* width: 416px;
    height: 130px; */
    /* position: absolute; */
    align-self: center;
}
.service-logo-we-top {
    display: block;
    margin: 10px 115px 10px 0;
    line-height: 29px;
    font-size: 21px;
}

.service-logo__info-service-img {
    max-width: 325px;
    height: 101px;
    margin-right: 133px;
    margin-left: 113px;
}

/* logo-concept */

.logo-concept {
    background: #fff url(images/logo-concept-fon.png) no-repeat 100% 0;
}

.container-logo-concept {
    display: flex;
    padding: 98px 15px 95px 15px;
}

.wrapper-logo-concept-text {
    margin-left: 36px;
}

.logo-concept-title {
    font-family: 'Stolzl Book';
    font-size: 30px;
}

.logo-concept-sub-title {
    display: block;
    margin: 19px 0 44px 0;
    font-size: 24px;
    color: rgba(120, 120, 120, 255);
}

.logo-concept-list {
    list-style: none;
    
}

.logo-concept-item {
    display: flex;
    align-items: center;
    height: 64px;
    margin: 10px 0;
    padding-left:66px; 
    background: #fff url(images/check.png) no-repeat;
    background-position-y: center;
    background-position-x: 15px;
    /* line-height: 19px; */
}

.logo-concept-text {
    font-family: 'Stolzl Book';
    font-size: 16px;
    line-height: 19px;
}

/* logo-concept! */

/* final-work-logo */

.final-work-logo {
    position: relative;
    background: #f3f5f6 url(images/final-work-logo-fon.png) no-repeat 100%;
}

.contaoner-final-work-logo {
    width: 570px;
    padding:111px 0 96px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.final-work-logo-title {
    font-family: 'Stolzl Book';
    font-size: 22px;
    line-height: 39px;
}

.final-work-logo-sub-title {
    display: block;
    margin-top:21px; 
    font-size: 16px;
    color: rgba(120, 120, 120, 255);
    line-height: 26px;
}

/* final-work-logo! */

/* logo-processing */

.container-logo-processing {
    padding: 100px 15px 67px 15px;
}

.logo-processing-title {
    font-family: 'Stolzl Book';
    font-size: 30px;
}

.logo-processing-sub-title {
    display: block;
    margin: 14px 0 25px 0;
    font-size: 24px;
    color: rgba(120, 120, 120, 255);
}

.wrapper-logo-processing{
    display: flex;
    flex-direction: column;
}

.logo-processing-ex {
    display: flex;
}

.logo-before {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 20px;
    border-radius: 15px;
    background: #fff;
    /* box-shadow:-1px -1px 25px 0px #fefeff, #fdfeff, #fdfdff, #fcfdff, #fbfcff, #fafcff, #fafbff,  #f9fbff, #f8faff,  #f7f9ff; */
    /* box-shadow: -1px -1px 25px 0px #fefeff,
                -1px -1px 25px 0px #fdfeff,
                -1px -1px 25px 0px #fdfdff,
                -1px -1px 25px 0px #fcfdff,
                -1px -1px 25px 0px #fbfcff,
                -1px -1px 25px 0px #fafcff,
                -1px -1px 25px 0px #fafbff,
                -1px -1px 25px 0px #f9fbff,
                -1px -1px 25px 0px #f8faff,
                -1px -1px 25px 0px #f7f9ff
                ; */
border: 1px solid black;
                
}

.logo-after {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 20px;
    margin: 0 30px;
    border-radius: 15px;
    background: #fff;
    /* box-shadow: -1px -1px 25px 0px #fefeff,
                -1px -1px 25px 0px #fdfeff,
                -1px -1px 25px 0px #fdfdff,
                -1px -1px 25px 0px #fcfdff,
                -1px -1px 25px 0px #fbfcff,
                -1px -1px 25px 0px #fafcff,
                -1px -1px 25px 0px #fafbff,
                -1px -1px 25px 0px #f9fbff,
                -1px -1px 25px 0px #f8faff,
                -1px -1px 25px 0px #f7f9ff
                ; */
                border: 1px solid black;
}

.logo-processing-text {
    flex: 1;
    font-size: 16px;
    color: rgba(120, 120, 120, 255);
}

.logo-processing-ex {
    height: 210px;
    margin: 15px 0;
}

.logo-bottom-text {
    display: block;
    font-size: 18px;
    color: rgba(120, 120, 120, 255);
}

.logo-before-img {
    margin: auto;
}

.logo-after-img {
    margin: auto;
}

/* logo-processing! */

/* SERVICE-LOGO! */

/* SERVICE-ADVERTISING */

.service-advertising {
    height: 420px;
    background: url(images/service-advertising-small-img.png)
}

.btn-service-advertising {
    color: #fff;
}

/* case */

.container-case{
    display: flex;
    align-items: center;
}

.case-title {
    position: relative;
    width: 720px;
    display: flex;
    justify-content: flex-end;
    padding: 79px;
        font-family: 'Stolzl Book';
    font-size: 30px;
    text-align: right;
}

.case-title::after {
    content: '';
    position: absolute;
    right: -60px;
    border: 30px solid transparent;
    border-left: 30px solid #fff;
}

/* case! */

/* pack-shape */

.container-pack-shape {
    display: flex;
    padding: 26px 15px 20px 15px;
}

.pack-shape-title {
    display: block;
    font-family: 'Stolzl Book';
    font-size: 23px;
}

.pack-shape-sub-title {
    display: block;
    margin: 20px 0 45px 0;
    font-size: 24px;
    color: rgba(120, 120, 120, 255);
}

.wrapper-pack-shape {
    width: 391px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 200px;
    
}


/* pack-shape! */

/* mommyjob */

.mommyjob {
    position: relative;
    background: url(images/mommyjob-fon.png) no-repeat;
    background-position: 43%;
}

.container-mommyjob {
    /* position: relative; */
    display: flex;
    padding: 143px 15px 135px 15px;
}

.wrapper-mommyjob {
    width: 400px;
}

.service-pack-big-img {
    position: absolute;
    right: 0;
    bottom: 7%;
}

.mommyjob-title {
    font-family: 'Stolzl Book';
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
}

.mommyjob-sub-title {
    display: block;
    margin: 18px 0 136px 0;
    font-size: 24px;
    color: rgba(204, 204, 204, 255);
}

.mommyjob-bnt {
    width: 238px;
    border: none;
    background: transparent;
    font-size: 24px;
    color: rgba(250, 250, 251, 255);
    text-decoration: underline;
}

.mommyjob__paroller-1 {
    top: 61%;
    left: 89%;
}

.mommyjob__paroller-2 {
    top: 61%;
    /* left: 10%; */
}
/* mommyjob! */

/* presetn-client */

.presetn-client {
    background: url(images/present-client-fon.png) no-repeat;
    background-position: 75%;
}

.container-present-client {
    padding: 105px 15px 256px 15px;
}

.wrapper-present-client {
    width: 492px;
}

.present-client-title {
    font-family: 'Stolzl Book';
    font-size: 24px
}

.present-client-text {
    display: block;
    margin-top: 17px;
    font-size: 16px;
    color: rgba(120, 120, 120, 255);
}

/* presetn-client! */
/* SERVICE-ADVERTISING! */

/* SERVICE */

 /* header */

 .header-bottom-info-subtitle-text {
     font-size: 12px;
     line-height: 22px;
 }

 .header-bottom-compr {
     flex: 1
 }

 .header-bottom__logo-compr {
     align-self: center;
     margin: 0 44px 0 56px;
    flex: 1.6
 }

 

 /* header! */

 /* land-services-list */

 .land-services-list {
     background: url(images/service-list-fon.jpg);
 }

 .container-land-services-list {
     display: flex;
     flex-direction: column;
     padding: 94px 15px 118px 15px;
 }

 .land-services-list-title {
     align-self: center;
     display: block;
     margin-bottom: 63px;
     font-family: 'Stolzl Book';
     
    font-size: 30px;
 }

 .wrapper-service-list {

    display: flex;
    flex-wrap: wrap;
 }
 

.wrapper-item-top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-list__item-img {
    z-index: 1;
}

.header-bottom__paroller-1 {
    top:10%;
    left: 70%;
}

.header-bottom__paroller-2 {
    top: 40%;
    left: 85%;
} 

.header-bottom__paroller-3 {
    top: 80%;
    left: 70%;
}



 /* land-services-list! */
/* SERVICE! */

/* SERVICE-2 */

.service-all {
    background: url(images/branding-services.png) no-repeat;
}

.container-service-all {
    display: flex;
    flex-direction: column;
    padding: 97px 15px 87px 15px;
}

.service-all-list {
    display: flex;
}

.service-all-item {
    position: relative;
    height: 370px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 11px;
    border-radius: 15px;
    background: #fff;
    transition: all .25s;
}

.service-all-item:hover {
    /* margin-top:31px;  */
    top: 20px;
    box-shadow: 0px 10px 74.1px 20.9px rgba(58, 112, 255, 0.22);   
}

.service-all-item:first-child {
    margin-left: 0px
}

.service-all-item:last-child {
    margin-right: 0px;
}

.service-all-title {
    display: block;
    margin-left: 21px;
    margin-top: 27px;
    font-family: 'Stolzl Book';
    font-size: 16px;
}

.sevice-all-sub-title {
    display: block;
    margin: 9px 0 6px 21px;
    font-size: 12px;
    color: rgba(120, 120, 120, 255);
}

.service-all-img {
    margin: auto;
}

.service-all-btn {
    align-self: flex-start;
    margin-left: 21px;
    margin-top: auto;
    margin-bottom: 22px;
    border:none;
    background: transparent;
    text-decoration: underline;
}


/* SERVICE2! */